.material-icons.md-60 {
    font-size: 60px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.card-properties {
    font-size: smaller;
}

.card-tag {
    background-color: #d96055;
    color: white;
}

@media screen and (min-width: 768px) {
    .card-body {
        font-size: 1.5rem;
    }
}


