#list_nav_button {
    color: white;
}

#search_nav_button {
    color: black;
}

#bookmarked_button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right:-6px;
}

#accepted_button {
    margin-right:-6px;
}

#completed_button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#quest_view_toggle {
    position: absolute;
    width:70%;
    left: 50%;
    transform: translateX(-50%);
    height:100%;
}

.top_button {
    box-sizing: border-box;
    
    width: 33%;
    height:100%;
}

