#home_nav_button{
    color: white;
}

#welcome_box {
    border: hsl(14, 32%, 48%) solid 3px;
    width: 50vw;
    height:100%;
    display:inline-block;
    border-radius: 10px;
    background-color: white;
    color: #a36654;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);

}

#welcome_message {
    display:inline-block;
    font-size: 1.2rem;
}