
.back_button {
      font-size: 40px;
      margin: 10px;
}

#savebtn {
      background-color: #d96055;
      color: white;
}

body{
      padding: 5px;
      padding-bottom: 40vh;
}

.tag_checkbox{
      padding: 10px;
}

.form-check{
      width: 50%;
}

#name-goes-here{
      font-size: 2rem;
}

#profile_pic_container{
      border-radius: 25%;
      width: 200px;
      height: 200px;
      border: 2px black solid;
}

input#profile_pic_input[type='file'] {
      color: transparent;
      width: 118px;
}

label{
      font: orbitron;
}