.back_button {
      font-size: 40px;
      margin: 10px;
}

body{
      padding: 5px;
}

.tag_checkbox{
      padding-top: 15px;
}

.form-check{
      width: 50%;
      display: inline-block;
}

#profile_pic {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: white;
      padding: 10px;
}

/* #points{}

#level{
      
} */

#name-goes-here{
      font-size: 2rem;
}

#savebtn{
      background-color: #d96055;
      color: white;
}

#profile_pic_container{
      border-radius: 50%;
      width: 200px;
      height: 200px;

}