/* Add CSS styles for the card container with vertical scrolling */
.card-container {
      max-height: 500px;
      /* Adjust the maximum height as needed */
      overflow-y: auto;
}

.card{
      width: 80%;
      margin: 5%;
      background-color: #a36654;
      justify-content: center;
      z-index: 1
}

#reviewCardGroup{
      justify-content: center;

}


@media screen and (min-width: 768px) {
      .card { 
            width: 45%;
            margin: 2%;
            display: flex;
      }
}
