/*Color theme codes:
Purple #542946,
Brown #a36654,
Red #d96055
gray #808080
white #FFFFFF
pale yellow #F5DFBB;
*/


/* font */
.orbitron {
    font-family: Orbitron, sans-serif;
}

/* Navigation bars */

#top-navbar {
    margin-bottom:0px;
    padding:0px;
    height:10vh;
    background-color: #F5DFBB;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #a36654;
}

#top_nav_container {
    height: 10vh;
}

/* Naborly logo */
.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    margin: 0px;
}

.navbar-toggler {
    border: none;
    padding-left: 5px;
}

#user-profile {
    display: inline-block;
}

#user-profile img {
    width: 25pt;
}

#points_earned{
    font-family: orbitron;
    font-size: 0.9rem;
}

.hamburger-menu {
    background-color: #a36654;
}


/* Bottom nav bar */
#footer_nav{
    height:10vh;
}

/* Bottom nav icons */
a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:hover {
    color: white;
}


.bg-info {
    background-color: #A36654 !important;
    /* Medium shade for bottom navbar */
}

/* body */
body {
    background-color: #F5DFBB;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.list-unstyled li:last-child {
    border-bottom: none;
}

.list-unstyled li a:hover {
    background-color: white !important;
    color: #F2542D !important;
}

.top_part_quest_detail{
    padding-top: 5vh;
}


/* h1{
    margin: 0px;
    font-size: 1.5rem;
} */


/* .login:hover,
.wireflow:hover {
    border-color: #562C2C;
} */


.material-icons.md-36 {
    font-size: 32px;
}


/* .back_arrow{
    padding-left: 10px;
} */

/* 
section{
    padding: 10px;
} */

/* .option_btn{
    border-radius: 30px;
} */

p.orbitron{
    margin-bottom: 3px;
    padding-top: 3px;
}


/* Map */
#view_toggle{
    z-index: 50 !important;
    margin: 1vh; 
    border-radius: 5px;
    border: rgb(163, 142, 142) solid 1px;    
    background-color: white;
    padding: 0px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    align-items: center;
}




@media screen and (min-width: 768px) {
    .card_body {
        font-size: 1.5rem;
    }
    #footer_nav a {
        font-size: 0.6rem;
    }

}



@media screen and (min-width: 768px) {

    .card_body {
        font-size: 1.5rem;
    }

    #footer_nav a {
        font-size: 0.6rem;
    }


    /* .pop_up {
        /* position: relative; */
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50%, -50%); */
        /* height: 30%; */
        /* width: 10%; */
    /* }  */

    .w-75{
        width: auto;
    }

    .pop_up_title {
        background-color: #d96055;
        color: white;
    }

    /* quest-completed */
    .quest_completed {
        rotate: -10deg;
        font-size: 3rem;
    }
}