#user-profile {
    display: flex;
    flex-direction: column;
}

#user-profile img {
    width: 30pt;
}

#user-profile {
    display: flex;
    flex-direction: column;
}

#user-profile img {
    width: 30pt;
}

.offcanvas {
    width: 50%;
}

.list-unstyled li:last-child {
    border-bottom: none;
}

.list-unstyled li a:hover {
    background-color: white !important;
    color: black !important;
}
