#top-navbar {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom:0px;
    height:10vh;
}

#footer_nav{
    height:10vh;
}

#navbar-logo {
    font-size: 30px;
}

#user-profile {
    display: flex;
    flex-direction: column;
}

#user-profile img {
    width: 30pt;
}

#user-profile {
    display: flex;
    flex-direction: column;
}

#user-profile img {
    width: 30pt;
}

.hamburger-menu {
    background-color: #a36654;
}

.offcanvas {
    width: 50%;
}

.list-unstyled li:last-child {
    border-bottom: none;
}

.list-unstyled li a:hover {
    background-color: white !important;
    color: #F2542D !important;
}

/* font */
.orbitron {
    font-family: Orbitron, sans-serif;
}

/* bootstrap color override */
/*
* --------------------------------------------
* These are some styles of customizing 
* to over-ride the default bootstrap ones
*---------------------------------------------
*/

/*Given Colors:
Purple #542946,
Brown #a36654,
Red #d96055
gray #808080
white #FFFFFF
pale yellow #F5DFBB;
*/


.bg-info {
    background-color: #A36654 !important;
    /* Medium shade for navbar */
}

/* top navbar */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #a36654;
    /* Light shade for brand name & nav links for contrast */
}

.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}


/* body */
body {
    background-color: #F5DFBB;
    /* Light shade for body background */
    padding-bottom: 120px;
    padding-top: 90px;
}

/* buttons */
.sign_up {
    color: #FFFFFF;
    /* Light shade for text */
    font-size: 150%;
    background-color: #d96055;
    /* Darkest shade for border */
    border-width: thick;
}

.sign_up:hover{
    border-color: #562C2C;
    background-color: #d96055;
    color: #FFFFFF;
}

.login:hover,
.wireflow:hover {
    border-color: #562C2C;
}

a{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a:hover{
    color: white;
}

.material-icons.md-36 {
    font-size: 36px;
}

#profile_pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

.back_arrow{
    padding-left: 10px;
}

section{
    padding: 10px;
}

.option_btn{
    border-radius: 30px;
}

p.orbitron{
    margin-bottom: 3px;
    padding-top: 3px;
}

.view_icon{
    padding: 5px;
}

#view_toggle{
    position: fixed;
    /* This next line has a powerful aura */
    z-index: 9999 !important;

    border-radius: 10px;
}

/* main.html > quest_card_template */
#quest_cards_go_here{
    padding-top: 50px;
}

.card_container {
    width: 94% !important;
    margin: auto;
    position: relative;
}

.card_properties {
    font-size: smaller;
}

.card_tag {
    background-color: #d96055;
    color: white;
}

.quest_detail_link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .card_body {
        font-size: 1.5rem;
    }
}

/* quest-detail.html */
.quest_accept_button, .quest_complete_button, .quest_drop_button {
    width: 100%;
    color: white;
    border-radius: 20px;
}

.quest_accept_button, .quest_complete_button {
    background-color: #d96055;
}

.quest_drop_button {
    background-color: gray;
}

/* quest-completed */
.quest_completed {
    rotate: -10deg;
    font-size: 3rem;
}

.acquired_point {
    border-bottom: solid black 1px;
}

.quest_done_button {
    width: 100%;
    color: white;
    border-radius: 20px;
    background-color: #d96055;
}
